/* ----------- Estilização do TemplateEE ----------- */
body {
    margin:0px;
    padding:0px;
    /* background-color:#E9E9E9; */
    font: 14px  verdana, arial, helvetica;
}
a {color: #233e42}
#main_container{
	
}
#header{
	color: #FFF;
	padding:3px;
	background-color:#ff9f0f;
	width:100%;
}
#header a{
	color:#233e42;
    text-decoration:none;
}
#header_itemMenu{
	float:left;
	width:auto;
	margin: 0 1px 0 1px;
}
a #header_itemMenu{
	float:left;
	font-weight:bold;
	width:auto;
	padding: 2px 3px 2px 1px;
}
a:hover #header_itemMenu {
	background:#feb342;
}
#header_itemMenu a:hover img{
	background:#feb342;
}
#content_header {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	background-color:#ff9f0f;
}
#content_header a:hover{
	background:#feb342;
	padding: 1px 0 2px 0;
}
#menu {
	margin: 5px 0 5px 0;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #264449;
}
#menu_content{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}
#itemMenu{
	float:left;
	width:auto;
	margin: 0 7px 0 9px;
}

#user_info{
	float:right;
    margin: 1px 0 1px 0;
    width:auto;
}
#main_content{
	/* border:1px solid; */
	width:870px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
	margin-top:10px;
	padding: 5px 15px 5px 15px;
}
#footer{
	color: #FFF;
	padding:5px;
	background-color:#ff9f0f;
	position: fixed;
	width: 100%;
	bottom: 0px;
}
#footer_content{
	width:900px;
	margin-right:auto;
	margin-left:auto;
    text-align:right;
}
#footer_content a{
	color: #1f373b;
    text-decoration:none;
}
h1{
	margin-left:30px;
	font: 24px  verdana, arial, helvetica;
	font-weight:bold;
	color: #656565;
	margin-top:5px;
	text-align: center;
}
.detach{
	font: 16px  verdana, arial, helvetica;
	color: #656565;
}
.links{
	font: 14px  verdana, arial, helvetica;
	color: #A6A6A6;
}
.frmLogout{
	float:right;
	margin: 0em;
}
.user{
	float:left;
}
h3{
	font: 18px  verdana, arial, helvetica;
	font-weight:bold;
	color: #656565;
	text-align:center;
}

#footer_javax{
	float:right;
}

#footer_link{
	float:right;
	color: #FFF;
	margin-right:5px;
	padding-left:3px;
}

a:hover #footer_link {
	background:#feb342;	
}

/* ----------- Fim da Estilização do TemplateEE ----------- */

/* Notificações */
.arrow_box {
	font: 14px  verdana, arial, helvetica;
	color: #233e42;
	visibility: hidden;
	position: absolute;
	padding: 10px 5px 15px 5px;
	border: 2px solid #233e42;
	border-radius: 5px;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

/* Fim das Notificações */

/* ----------- Estilização dos Datagrid's para Eventos e Grupos ----------- */
.ui-datagrid-column { width: 100px; padding: 3px;}
#painel {width:10px; height: 150px;}
/* ----------- Fim da Estilização do Eventos e Grupos  ----------- */

/* ----------- Estilização da página Home ----------- */
#coluna_direita {float: right; width: auto; margin-top: 30px; padding-left: 5px;}
#coluna_esquerda {width: 650px; float: left;}
/* ----------- Fim da Estilização da Home ----------- */

/* ----------- Estilização da página Notícias ----------- */
.blueFeed {
	color:#233e42;
}
.orangeFeed {
	color:#ff9f0f;
}
.thin {
	width:240px;
}
.medium {
	width:360px;
	position:;
	float:;
	display:;
	overflow:;	
}
.fat {
	width: 820px;
}
#mainFeeder_content{
	margin-bottom:30px;
	border: 0px hidden;
}
.painelNoticias {
	overflow:hidden;
	position: absolute;
}
/* ----------- Fim da Estilização da Notícias ----------- */
/* ----------- Estilização da página Grupo ----------- */
#col_direita {float: right; width: auto; margin-top: 30px; padding-left: 5px;}
#col_esquerda {width: 450px; float: left;}
.descricao {
	width:240px;
}
/* ----------- Fim da Estilização da Grupo----------- */
