/* ----------- Estilização do TemplateEE ----------- */
body {
    margin:0px;
    padding:0px;
    background-color:#E9E9E9;
    font: 14px  verdana, arial, helvetica;
}
a {color: #233e42}
#main_container{
	
}
#header{
	color: #FFF;
	padding:3px;
	background-color:#ff9f0f;
}
#header a{
	color:#233e42;
    text-decoration:none;
}
#header_itemMenu{
	float:left;
	width:auto;
	margin: 0 1px 0 1px;
}
a #header_itemMenu{
	float:left;
	width:auto;
	padding: 2px 3px 2px 1px;
}
a:hover #header_itemMenu {
	background:#feb342;
}
#header_itemMenu a:hover img{
	background:#feb342;
}
#content_header {
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
#content_header a:hover{
	background:#feb342;
	padding: 1px 0 2px 0;
}
#menu {
	margin: 5px 0 5px 0;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #264449;
}
#menu_content{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
}
#itemMenu{
	float:left;
	width:auto;
	margin: 0 7px 0 9px;
}

#user_info{
	float:right;
    margin: 1px 0 1px 0;
}
#main_content{
	border:1px solid;
	width:870px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
	margin-top:10px;
	padding: 5px 15px 5px 15px;
}
#footer{
	color: #FFF;
	padding:5px;
	background-color:#ff9f0f;
	position: fixed;
	width: 100%;
	bottom: 0px;
}
#footer_content{
	width:900px;
	margin-right:auto;
	margin-left:auto;
    text-align:right;
}
#footer_content a{
	color: #1f373b;
    text-decoration:none;
}
h1{
	margin-left:30px;
	font: 24px  verdana, arial, helvetica;
	font-weight:bold;
	color: #656565;
	margin-top:5px;
}
.detach{
	font: 16px  verdana, arial, helvetica;
	color: #656565;
}
.links{
	font: 14px  verdana, arial, helvetica;
	color: #A6A6A6;
}
/* ----------- Fim da Estilização do TemplateEE ----------- */

/* ----------- Estilização dos Datagrid's para Eventos e Grupos ----------- */
.ui-datagrid-column{ width: 100px; padding: 3px;}
#painel{width:10px; height: 140px;}
